@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Mukta:wght@300;400&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #71adc6;
}

.container {
    width: calc(100vw - 10vw);
    padding: 30px 35px 0px 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.container h2 {
    margin-top: -5px;
    font-weight: 500;
    padding: 0px 36px;
}

.container.disable .editor-container,
.container.disable .controls .download-img,
.container.disable .reset-filter {
    opacity: 0.6;
    pointer-events: none;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 36px;
}

.controls button {
    padding: 11px 20px;
    font-size: 14px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.choose-img {
    background: #5372F0;
    color: #fff;
    border: 1px solid #5372F0;
}

.reset-filter {
    background: #f94b4b;
    color: #fff;
    margin-right: 33px;
    border: 1px solid #f94b4b;
}

.download-img {
    background: #fbfb10c2;
    border: 1px solid #fbfb10c2;
}

.preview-img {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    padding: 16px 38px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.preview-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.editor-container {
    padding: 36px;
}

.title {
    display: block;
    font-size: 22px;
    margin-bottom: 14px;
}

.brightness-container {
    margin-bottom: 12px;
}

.light-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.filter-container input {
    height: 5px;
    width: 100%;
}

.editor-container .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-container button {
    height: 40px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 12px;
    color: black;
    background: #fff;
    border: 1px solid black;
}

.filter-container .options .active {
    background: #5372F0;
    color: #fff;
    border: 1px solid #5372F0;
}

.rotate-container button {
    height: 40px;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 12px;
    color: #fff;
    background: #5372F0;
    border: 1px solid #5372F0;
}

.editor-container .filter-container button {
    width: calc(100% /2 - 10px);
}

.rotate-container {
    margin-top: 26px;
}

.rotate-container .options button {
    display: flex;
    width: calc(100% / 4 - 15px);
    justify-content: center;
    align-items: center;
}

.rotate-container .options button:nth-child(3),
.rotate-container .options button:nth-child(4) {
    font-size: 18px;
}

.rotate-container button:active {
    background: #fff;
    color: black;
}

@media screen and (max-width: 730px) {
    .container {
        padding: 30px 0px 0px;
    }

    .download-img {
        margin-top: 30px;
    }

    .button-container {
        width: 100%;
    }

    .controls button {
        width: 100%;
    }

    .reset-filter {
        margin-right: 0px;
    }
}